body {
	font-size: 14px;
	font-family: Arial, sans-serif;
	margin: 0;
}

ul,
ol {
	margin: 0;
}

a {
	color: #977446;
}

h3 {
	margin: 0;
}

.main {
	width: 380px;
	padding: 10px;
	background-color: #f6ecda;
	box-sizing: border-box;
}

.container-main-title {
	/*width: max-content;*/
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 8px;
}

.container-title {
	width: max-content;
}

.container-btn {
	width: auto;
	display: flex;
	justify-content: flex-end;
}

.btn {
	background: none;
	border: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn-raz {
	margin-right: 4px;
	margin-left: 4px;
}

.btn:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #c69e6b;
}

.container-custom-style {
	display: flex;
	border: 1px solid #e9dabb;
	padding: 8px 12px 2px 12px;
	background-color: #faf5ea;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 8px;
}

label {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/*label[for="removeBtnEndOfFic"],
[for="sidebarNavStyle"],
[for="removeReaded"]{
	align-items: flex-start;
}*/

label {
	align-items: flex-start;
}

.container-checkbox {
	margin-bottom: 6px;
}

.container-switch {
	font-size: 12px;
}

.container-checkbox label input {
	margin-right: 4px;
	block-size: 12px
}

.tabs {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
	border-bottom: 1px solid #e9dabb;
	text-align: center;
	align-items: center;
}

.tab-btn {
	flex: 1;
	padding: 6px;
	cursor: pointer;
	font-size: 13px;
}

.tab-btn.active {
	border-bottom: 2px solid #c69e6b;
	font-weight: bold;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.contact-info {
	margin-bottom: 5px;
}

.list-info {
	padding-left: 25px;
	width: 200px;
	list-style-type: disc;
}

.list-info-item {
	display: flex;
}

.list-info-item-title {
	width: 65px;
}